In [1]:
import ScrapeEmail as sel
import pandas as pd

# Pulling Line 1 data

In [3]:
def threshold_merge(new_df, old_df, cutoff_date):
    """Merge new data with old data. Only update records after cutoff_date"""
    if old_df.empty:
        return new_df.copy()
    
    # Keep old data before cutoff unchanged
    old_keep = old_df[pd.to_datetime(old_df['Date']) < pd.to_datetime(cutoff_date)]
    
    # Only use new data after cutoff
    new_after_cutoff = new_df[pd.to_datetime(new_df['Date']) >= pd.to_datetime(cutoff_date)]
    
    # Combine and sort
    combined = pd.concat([new_after_cutoff, old_keep], ignore_index=True)
    combined['Date'] = pd.to_datetime(combined['Date'])
    
    return combined.sort_values('Date', ascending=False).reset_index(drop=True)

def keep_latest_cycle_per_year(df, date_col="Date", cycle_col="Cycle"):
    """Keep only the latest record for each cycle within each year"""
    df = df.copy()
    df["Gas Transit Days"] = df["Gas Days"] + df["Gas Hours"] / 24
    df[date_col] = pd.to_datetime(df[date_col], errors="coerce")
    # Group by year and cycle, then find the index of the latest date for each group
    idx = df.groupby([df[date_col].dt.year, df[cycle_col]])[date_col].idxmax()
    return df.loc[idx].sort_values(date_col).reset_index(drop=True)

line1_df_new = sel.extract_colonial_transit_times(from_location='HTN', to_location='GBJ', target_subject='T4 Bulletin: Colonial - TRANSIT ')
line1_df_old = pd.read_excel('colonial_transit_time.xlsx', sheet_name='line1')
line1_df = threshold_merge(line1_df_new, line1_df_old, cutoff_date='2025-08-01')
line1_df = keep_latest_cycle_per_year(df=line1_df, date_col='Date', cycle_col = 'Cycle')
line1_df

,Date,From,To,Cycle,Gas Days,Gas Hours,Distillates Days,Distillates Hours,Gas Transit Days
0,2024-08-22,HTN,GBJ,46,8,7,7.0,7.0,8.291667
1,2024-08-26,HTN,GBJ,47,7,6,7.0,10.0,7.250000
2,2024-08-29,HTN,GBJ,48,8,18,9.0,10.0,8.750000
3,2024-09-04,HTN,GBJ,49,7,6,9.0,10.0,7.250000
4,2024-09-08,HTN,GBJ,50,8,23,9.0,18.0,8.958333
...,...,...,...,...,...,...,...,...,...
73,2025-08-17,HTN,GBJ,46,9,6,9,14,9.250000
74,2025-08-24,HTN,GBJ,47,8,20,7,8,8.833333
75,2025-08-27,HTN,GBJ,48,8,8,6,22,8.333333
76,2025-09-01,HTN,GBJ,49,9,6,10,8,9.250000
77,2025-09-02,HTN,GBJ,50,8,2,9,14,8.083333

# Pulling Line 3 data

In [17]:
line3_df_new = sel.extract_colonial_transit_times(from_location='GBJ', to_location='LNJ', target_subject='T4 Bulletin: Colonial - TRANSIT ')
line3_df_old = pd.read_excel('colonial_transit_time.xlsx', sheet_name='line3')
line3_df = threshold_merge(line3_df_new, line3_df_old, cutoff_date='2025-08-01')
line3_df = keep_latest_cycle_per_year(df=line3_df, date_col='Date', cycle_col = 'Cycle')
line3_df

,Date,From,To,Cycle,Gas Days,Gas Hours,Distillates Days,Distillates Hours,Gas Transit Days
0,2025-01-15,GBJ,HTN,3,7.0,17.0,3.0,11.0,7.708333
1,2025-01-21,GBJ,HTN,4,8.0,6.0,3.0,4.0,8.250000
2,2025-01-26,GBJ,HTN,5,8.0,5.0,NaN,NaN,8.208333
3,2025-02-02,GBJ,HTN,6,7.0,3.0,3.0,5.0,7.125000
4,2025-02-05,GBJ,HTN,7,5.0,8.0,2.0,18.0,5.333333
5,2025-02-10,GBJ,HTN,8,3.0,5.0,3.0,11.0,3.208333
6,2025-02-16,GBJ,HTN,9,3.0,12.0,2.0,23.0,3.500000
7,2025-02-18,GBJ,HTN,10,2.0,9.0,2.0,17.0,2.375000
8,2025-02-23,GBJ,HTN,11,3.0,8.0,3.0,19.0,3.333333
9,2025-02-28,GBJ,HTN,12,4.0,23.0,1.0,22.0,4.958333
10,2025-03-05,GBJ,HTN,13,5.0,9.0,1.0,23.0,5.375000
11,2025-03-10,GBJ,HTN,14,2.0,19.0,4.0,3.0,2.791667
12,2025-03-16,GBJ,HTN,15,5.0,4.0,5.0,3.0,5.166667
13,2025-03-18,GBJ,HTN,16,10.0,11.0,5.0,4.0,10.458333
14,2025-03-23,GBJ,HTN,17,5.0,23.0,5.0,3.0,5.958333
15,2025-03-28,GBJ,HTN,18,9.0,11.0,5.0,13.0,9.458333
16,2025-04-02,GBJ,HTN,19,4.0,19.0,5.0,2.0,4.791667
17,2025-04-07,GBJ,HTN,20,8.0,5.0,2.0,7.0,8.208333
18,2025-04-10,GBJ,HTN,21,0.0,18.0,0.0,18.0,0.750000
19,2025-04-20,GBJ,HTN,22,4.0,17.0,3.0,14.0,4.708333
20,2025-04-21,GBJ,HTN,23,6.0,1.0,4.0,11.0,6.041667
21,2025-04-27,GBJ,HTN,24,6.0,12.0,4.0,18.0,6.500000
22,2025-05-04,GBJ,HTN,25,6.0,15.0,4.0,14.0,6.625000
23,2025-05-06,GBJ,HTN,26,8.0,3.0,4.0,22.0,8.125000
24,2025-05-11,GBJ,HTN,27,7.0,10.0,3.0,20.0,7.416667
25,2025-05-18,GBJ,HTN,28,4.0,24.0,3.0,7.0,5.000000
26,2025-05-22,GBJ,HTN,29,5.0,1.0,2.0,0.0,5.041667
27,2025-05-26,GBJ,HTN,30,2.0,1.0,0.0,23.0,2.041667
28,2025-06-01,GBJ,HTN,31,6.0,15.0,3.0,13.0,6.625000
29,2025-06-08,GBJ,HTN,32,6.0,1.0,4.0,2.0,6.041667
30,2025-06-11,GBJ,HTN,33,4.0,5.0,3.0,7.0,4.208333
31,2025-06-16,GBJ,HTN,34,2.0,18.0,1.0,12.0,2.750000
32,2025-06-22,GBJ,HTN,35,1.0,18.0,1.0,18.0,1.750000
33,2025-06-26,GBJ,HTN,36,4.0,7.0,3.0,5.0,4.291667
34,2025-07-01,GBJ,HTN,37,1.0,11.0,3.0,2.0,1.458333
35,2025-07-06,GBJ,HTN,38,NaN,NaN,4.0,14.0,NaN
36,2025-07-13,GBJ,HTN,39,0.0,8.0,4.0,9.0,0.333333
37,2025-07-17,GBJ,HTN,40,6.0,14.0,3.0,18.0,6.583333
38,2025-07-21,GBJ,HTN,41,6.0,11.0,2.0,18.0,6.458333
39,2025-07-27,GBJ,HTN,42,6.0,23.0,4.0,6.0,6.958333
40,2025-08-03,GBJ,LNJ,43,4.0,8.0,2,11,4.333333
41,2025-08-06,GBJ,LNJ,44,4.0,0.0,3,11,4.000000
42,2025-08-10,GBJ,LNJ,45,5.0,1.0,4,1,5.041667
43,2025-08-17,GBJ,LNJ,46,5.0,16.0,4,2,5.666667
44,2025-08-24,GBJ,LNJ,47,4.0,11.0,4,9,4.458333
45,2025-08-27,GBJ,LNJ,48,4.0,14.0,0,4,4.583333
46,2025-09-01,GBJ,LNJ,49,5.0,10.0,0,21,5.416667
47,2025-09-02,GBJ,LNJ,50,3.0,23.0,3,19,3.958333

# Pulling Line 1 & 3 data

In [15]:
line13_df_new = sel.extract_colonial_transit_times(from_location='HTN', to_location='LNJ', target_subject='T4 Bulletin: Colonial - TRANSIT ')
line13_df_old = pd.read_excel('colonial_transit_time.xlsx', sheet_name='line13')
line13_df = threshold_merge(line13_df_new, line13_df_old, cutoff_date='2025-08-01')
line13_df = keep_latest_cycle_per_year(df=line13_df, date_col='Date', cycle_col = 'Cycle')
line13_df

,Date,From,To,Cycle,Gas Days,Gas Hours,Distillates Days,Distillates Hours,Gas Transit Days
0,2020-07-01,HTN,LNJ,38,18,8,NaN,NaN,18.333333
1,2020-07-01,HTN,LNJ,39,18,5,NaN,NaN,18.208333
2,2020-07-01,HTN,LNJ,40,17,5,NaN,NaN,17.208333
3,2020-07-01,HTN,LNJ,41,17,22,NaN,NaN,17.916667
4,2020-07-01,HTN,LNJ,42,20,5,NaN,NaN,20.208333
...,...,...,...,...,...,...,...,...,...
368,2025-08-17,HTN,LNJ,46,14,11,13.0,17.0,14.458333
369,2025-08-24,HTN,LNJ,47,13,18,10.0,19.0,13.750000
370,2025-08-27,HTN,LNJ,48,13,13,7.0,20.0,13.541667
371,2025-09-01,HTN,LNJ,49,15,10,11.0,5.0,15.416667
372,2025-09-02,HTN,LNJ,50,12,24,14.0,0.0,13.000000

In [18]:
with pd.ExcelWriter('colonial_transit_time.xlsx') as writer:
   line1_df.to_excel(writer, sheet_name='line1', index=False)
   line3_df.to_excel(writer, sheet_name='line3', index=False)
   line13_df.to_excel(writer, sheet_name='line13', index=False)